/node_modules
/public/hot
/public/storage
/public/web.config
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

_ide_helper.php

.DS_Store

00_old

