@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


.form-input,.form-textarea,.form-select,.form-multiselect {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-color: #d2d6dc;
    border-width: 1px;
    border-radius: 0.375rem/* 6px */;
}
.form-input:focus, .form-textarea:focus, .form-select:focus, .form-multiselect:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    @apply ring-primary-800 border-primary-800;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.bg-gradient-to-b {
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

input:checked ~ .dot {
   transform: translateX(100%);
   background-color: #48bb78;
}
input:checked ~ .body {
   background-color: #9fecbf;
}